@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Ubuntu:wght@500&display=swap');
:root {
    --contactPrimaryColor: #fff;
    --contactSecColor: #ddd;
    --comColor: #FFE61B; 
}

h2 {
    
    color: var(--contactPrimaryColor);
    text-align: center;
    font-family: Rubik,sans-serif;
    font-size: 35px;
    padding: 2px 0;
    margin: 0 40px;
}
.container {
    margin: 30px 40px;
    display: grid;  
    grid-gap: 10px;  
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    
}
.block {
    margin: 0 5px;
    border: 2px solid var(--comColor);   
    border-radius: 5px;
    transition: 0.3s ease-in-out all;
    display: grid;
    grid-template-areas: 
     'fimg fimg'
     'ft ft'
     'fb1 fb2'; 
     box-shadow: 0 0 20px 2px rgb(255, 230, 0);
}
.block:hover
{
    position: relative;
    left: -5px;
    top: -5px;
}

.bi1 { grid-area: fimg; 
       width: 100%;
       margin-right: 3px;
       margin-bottom: 5px;
       border-radius: 10px;
       padding: 5px;  
    }
.bi2 { grid-area: ft; 
    width: 100%;
    margin-right: 3px;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 5px;
    color: var(--contactPrimaryColor);
    font-family: Rubik,sans-serif;
    font-size: 25px;    
}

.bi3 { grid-area: fb1; 
   
    text-align: center;
    border-right: 2px solid var(--comColor); 
    padding: 10px; 
    position: relative;
    left:-1px;
    bottom: -1px;
    border-bottom-left-radius: 5px;
}           

.bi4 { grid-area: fb2; 
    
    text-align: center;
    padding: 10px;
    border-left: 2px solid var(--comColor); 
    position: relative;
    right:-1px;
    bottom: -1px;
    border-bottom-right-radius: 5px;
}
.vis-button {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    outline: none;
    border-top: 2px solid var(--comColor);
    cursor:pointer;
    color:var(--contactPrimaryColor);
    font-size:16px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    font-weight:700;
    
}
.vis-button:hover{
    background:var(--comColor);
    color: black;
    outline: none;
}
